.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    justify-content: stretch;
}

.label {
    display: flex;
    width: 100%;
}
