.dropdownItem {
    width: 260px;
}

.dropdown {
    width: 260px;
}

.dropdown > div > button > fieldset {
    left: 0;
    right: 0;
}

.inputComment {
    width: 260px;
}

.butt {
    width: 15%;
}

.table *[class~='ant-table'] {
    margin-inline: 0 !important;
}
.modalHeader {
    padding: 20px 45px 16px 5px;
}

.modalFooter {
    padding: 28px 47px 20px 0px;
}

[data-testid='modal-content'] {
    padding-left: 28px;
}

.buttStyles {
    padding-bottom: 10px;
}
