.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 24px);
    height: 100%;
}

.closeSidebar {
    width: 100px;
}

.selectedAccordeon {
    background: #e3f1e0;
    width: 100%;
    z-index: 999999;
}

.selectedAccordeon > li > div {
    font-weight: 500 !important;
}

.selectedAccordeon::before {
    content: url('../../Icons/SelectedIcon.svg');
    position: absolute;
    left: -7px;
    top: 4px;
}

.collapseBtn {
    bottom: 40px;
}

.btnClose {
    composes: collapseBtn;
    left: 30px;
}

.btnOpen {
    composes: collapseBtn;
    display: flex;
    justify-content: flex-start;
    color: #2a2e33;
    background-color: #f5f5f8;
    border: none;
}

.btnOpen > span {
    gap: 15px;
}
