.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    justify-content: stretch;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    height: 48px;
    z-index: 15;
}

.main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: calc(100% - 52px);
    margin-top: 48px;
    z-index: 14;
}

.container {
    display: flex;
    align-items: stretch;
    padding: 48px;
    margin-top: 16px;
    margin-left: 252px;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.sidebarMini {
    composes: sidebar;
    width: 100px;
}

.containerWide {
    composes: container;
    margin-left: 52px;
}
