.chip {
    max-height: 36px;
    margin-top: 2px;
}

.criticalChip {
    composes: chip;
    background: var(--attention-primary);
}

.majorChip {
    composes: chip;
    background: var(--accent-primary);
}

.minorChip {
    composes: chip;
    background: var(--success-primary);
}

.flexRow {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.description {
    background: var(--background-primary);
}

.requirementOption > p:not(:first-of-type) {
    color: var(--attention-primary);
    white-space: pre;
    line-height: 24px;
}

.treeSelect *[class='ant-select-selector'] {
    border-radius: 4px !important;
    height: auto !important;
    min-height: 40px;
}
